<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}"/>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <script src="{{url_for('static', path='/js/myscripts.js')}}"></script>
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
    
</body>
</html>