{% extends "base.j2" %}


{% block head %}
{{ super() }}

{#<link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">#}
{% endblock %}


{% block content %}
    <section class="section">
        <h1 class="heading">Gitlab-Admin Server</h1>
    </section>
    <body class="body">
    
        <section class="section-2">{#<img src="" loading="lazy" alt="">#}
            <div class="paragraph">Das ist der Server für Lehrer welche den Bulme-Git Server für größe Projekte im Unterricht benutzen möchten.<br>Bei fragen in der Online Anleitung nachlesen. </div>
        </section>
        <button class="button" id = "login" class=testbutton onclick=login()>login</button>
    </body>
{% endblock %}

