{% extends "base.j2" %}
{% block title %}Child{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
      Welcome to my awesome homepage.
      <a href={{mylink}}>login in </a>
      <div></div>
      <button id = "login" class=testbutton onclick=login()>login</button>
    </p>
    
{% endblock %}